<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pathfinder GM App</title>
        <meta name="viewport" content="width=device-width initial-scale=1"/>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <header>
            <h1>Pathfinder GM App</h1>
        </header>
        <main>
            <main>
                <section>

                    <div class="column">

                        <label for="prof_list"><h3>Proficiencies</h3></label>
                            <select id="prof_list" size="{{.Proficiencies|len}}">

                                {{ range .Proficiencies }}
                                    <option value="{{.}}">{{ . }}</option>
                                {{end}}

                            </select>

                    </div>  
            
                    <div class="column">
                        <label for="char_list"><h3>Characters</h3></label>
                        <select id="char_list" size="{{stat_list|length}}" multiple>
            
                            {% for name in names: %}
                                <option id="stat_list[name]_opt" value="{{stat_list[name]['name']}}">{{ stat_list[name]['name']}} level 
                                        {{stat_list[name]['level']}} {{stat_list[name]['ancestry']}} {{stat_list[name]['class']}}, 
                                        {{stat_list[name]['background']}}, AC: {{stat_list[name]['AC']}}</option>
                            {% endfor %}
            
                        </select>
            
                        <div id="output_box">
                            <div id="anchor"></div>
                        </div>
            
                        <button id="roll_it" onclick="roll(dataset)">Roll it!</button>
            
                        <form method="POST" action="/load">
                            <input type="text" id="f_id" name="f_id">
                            <label for="overwrite"> overwrite:</label>
                            <input type="checkbox" id="overwrite" name="overwrite">
                            <input type="submit" value="Add Character">
                        </form>
            
                    </div>
            
                    <div class="column">
                        <h3>Turn Order</h3>
                        <div id="turn_order">
            
                            <div id="turn_count_box">
                                <div><p>Turn: </p></div>
                                <div id="turn_counter"></div>
                            </div>
            
                        </div>
            
                        <div class="turn_controls">
                            <input type="text" id="turn_name">
                            <input type="text" id="turn_num">
                            <button id="add_turn" onclick="add_turn()">Add Turn</button> 
                        </div>
            
                        <div class="turn_controls">
                            <button id="clear" onclick="clear_initiative()">Clear</button>
                            <button id="sort" onclick="sort()">Sort</button>
                            <button id="next_turn" onclick="next_turn()">Next</button>
                        </div>
            
                    </div>
                </section>
            
                <section id="details">
            
                    {% for name in names: %}
                        <div class="character_details">
                            <h2>{{stat_list[name]['name']}}</h2>
                            <div class="attributes">
            
                                {% for i in ['str', 'dex', 'con', 'int', 'wis', 'cha']: %}
                                    <div class="hex">
                                        <div class="hex inner">
                                            <h2>{{stat_list[name][i]}}</h2>
                                            <p><strong>{{i}}</strong></p>
                                        </div>
                                    </div>   
                                {% endfor %} 
            
                                <div class="ac">
                                    <h2>{{stat_list[name]['AC']}}</h2>
                                    <p><strong>AC</strong></p>
                                </div>
                            </div>
                            <div class="save">
                                <div class="save_inner">
                                    <h2>{{stat_list[name]['perception']}}</h2>
                                    <p><strong>per</strong></p>
                                </div>
                            </div>
                            <div  class="saves">
                                <div class="save">
                                    <div class="save_inner">
                                        <h2>{{stat_list[name]['fortitude']}}</h2>
                                        <p><strong>fort</strong></p>
                                    </div>
                                </div>
                                <div class="save">
                                    <div class="save_inner">
                                        <h2>{{stat_list[name]['reflex']}}</h2>
                                        <p><strong>ref</strong></p>
                                    </div>
                                </div>
                                <div class="save">
                                    <div class="save_inner">
                                        <h2>{{stat_list[name]['will']}}</h2>
                                        <p><strong>will</strong></p>
                                    </div>
                                </div>
                            </div>
            
                            <table class="proficiencies">
                                <tr>
                                    {% for proficiency in ['acrobatics', 'arcana', 'athletics', 'crafting'] %}
                                        <td>{{proficiency}}</td>
                                        <td>{{stat_list[name][proficiency]}} ({{stat_list[name][proficiency+'Train']}})</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for proficiency in ['deception', 'diplomacy', 'intimidation', 'medicine'] %}
                                        <td>{{proficiency}}</td>
                                        <td>{{stat_list[name][proficiency]}} ({{stat_list[name][proficiency+'Train']}})</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for proficiency in ['nature', 'occultism', 'performance', 'religion'] %}
                                        <td>{{proficiency}}</td>
                                        <td>{{stat_list[name][proficiency]}} ({{stat_list[name][proficiency+'Train']}})</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for proficiency in ['society', 'stealth', 'survival', 'thievery'] %}
                                        <td>{{proficiency}}</td>
                                        <td>{{stat_list[name][proficiency]}} ({{stat_list[name][proficiency+'Train']}})</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for lore in lores: %}
                                        {% if stat_list[name][lore] != None %}
                                        <td>{{lore}}</td>
                                        <td>{{stat_list[name][lore]}}</td>
                                        {% endif %}
            
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    {% endfor %} 
                </section>
            
                <script src="/static/roll_it.js"></script>
                <script>const data = {{ .Data }};</script>
            
            </main>
        </main>
    </body>
</html>